body {
    margin: 0;
    padding: 0px;
    font-family: Rajdhani;
}


body#un{
    background-image: url("/images/FossésRouges0001.JPG");
    background-size: 95%;
        color: black

}

h1, h2{
   font-family:Cinzel; 
}

img {
    max-width: 100%;
}

div{


/*    border: 2px;
    border-color: blue;
    border-style: solid;*/
}

#main {

    padding: 5px;
    padding-top: 0;
    text-align: center;
}

#grosseBarre{
    margin: 10px;
    top:0;
    position: fixed;
    width: 95%;
    height: 10%;
}
#logo{
    margin: 10px;
    padding: 10px;
    width: 20%;
    display: inline-block;
}
#logo img
{
    width: 100%;
    height: 50%;
}

#header{
    float: right;
    margin: 2%;
    display: inline-block;
    width: 70%;
    height: 50%;
}

#header ul {
   padding:0;
   margin:0;
   list-style-type:none;
}
#header li {
   margin-left:2px;
   height: 100%;
   width: 19%;
   font-size: 25px;
   padding: 1px;
   text-align: center;
   display: table-cell;
   float:left; /*pour IE*/
   list-style-type: none;
   vertical-align: middle; 

}
#header ul li a {
   display:block;
   float:left;   
   color:black;
   text-decoration:none;
   text-align:center;

   padding:5px;
   border:2px solid;
   margin:1px;
   /*pour avoir un effet "outset" avec IE :*/
   border-color:#DCDCDC #696969 #696969 #DCDCDC;
}
#header ul li a:hover {
   background-color: red;
   border-color:#696969 #DCDCDC #DCDCDC #696969;
} 


#grosDeVaud{
    margin: 10px;
    margin-top: 12%;
    height: 450px;
    width: 95%;
}

#sidebar{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    /*position: relative;*/
    height: 300px;
    width: 250px;  
    padding: 0;
    /*border-left: 1px solid #ccc;*/
    text-align: center;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}

#sidebar ul {
    height:20%;
    list-style-type: none;
}


#sidebar li {
    background-color: blue;

    font-size: 30x;
    height: 100%;
    width: 100%;
    float: left;
}

#content{
    float: right;
    height: 80%;
    width: 75%;  
    margin-right: 20px;
    display: inline-block;
    padding: 5px;
    margin: 15px;
    text-align: center;
}






h1#title {
    font-size: 2em;
    margin: 0;
    line-height: 80px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    max-width: 300px;
    margin: auto;
}


ul#structure {
    width: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

ul#structure li.sublevel {
    vertical-align: top;
    display: table-cell;
}


#footer {
    display: none;
}


a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #f30;
}

a:hover {
    color: #f90;
}

